:root {
    --color-primary: #3875fa56;
    --color-sub1: #C3B8FF;
    --color-sub2: #A8CAE0;
    --color-bg: #ccddff;
    --color-header:#000000;
    --color-gray: #919090;
    --color-black: #333333;
    --color-dark: #666666;
}