@use "../../assets/scss/mixins" as*;
#banner{
    @include flex-layout(row);
    padding: 2rem;
    width: 100%;
.box{
    position: relative;
    // height: 300px;
    overflow: hidden;
    height: 300px;
    // background-color: var(--color-sub2);
    border-radius: 2rem;
    z-index:  1;
    @include desktop{
        width: 80%;

  }
    .track {
  display: flex;
  width: 100%;
  transition: transform 0.6s ease;
    .banner-img {
    position: relative;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  object-fit: fill;
 z-index: 1;
}
}
.indicator{
    @include flex-layout(row,center,center);
    position: absolute;
    width: 100%;
    bottom: 3%;
    z-index: 5;
    li{
        cursor: pointer;
        padding: 0.8rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(4px);
        box-shadow: 1px 4px 4px rgba(119, 111, 236, 0.7); 
        &.active{
            background-color: rgba(8, 0, 246, 0.555);
        }
    }
}
    @include flex-layout(column,flex-end,flex-start);
    @include desktop{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .txt-box{
        display: none;
        font-size: 12px;
        color: #fff;
        img{display: none;height: 50px;}
        
        button{ 
            display: inline-block;
            cursor: pointer;
            background-color: var(--color-sub1);
            color: var(--color-header);
            border: none;
            padding: 1rem;
            border-radius: 14px;
            outline: none;
            &:hover{
                outline: 1px solid steelblue ;
            }
        }
        @include desktop{
            @include flex-layout(column);
            margin-left: 50px;
            position: absolute;
            right: 0;
            height: 90vh;
            width: 40%;
            padding: 1rem 2rem;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(2px);
            @include flex-layout(column,center,center);
            h3{text-align: center;}
            img{
                display: block;
                height: 2rem;
            }
            
        }
    }
    .txt-boxmoblie{
        @include flex-layout(column,center);
        position: absolute;
        font-size: 6px;
        width: 45%;
        height: 100%;      
        color: #fff;
        padding: 1rem;
        right:0;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
        img{display: none;height: 50px;}
        button{
            display: inline-block;
            cursor: pointer;
            background-color: var(--color-sub1);
            color: var(--color-header);
            border: none;
            padding: 0.5rem;
            border-radius: 14px;
            font-size: 8px;
            outline: none;
            &:hover{
                outline: 1px solid steelblue ;
            }
        }
        @include desktop{
            display: none
        }
    }
}
}
#category{
    @include flex-layout(column,flex-start);
    text-align: center;
    margin: 1rem auto;
    font-size: 12px;
    @include desktop{
        font-size: 18px;
    }
    .collection{
        h3{
            margin: 1rem 0;
            &:nth-child(1){
                display: inline-block;
                padding: 0.5rem 1rem; 
                border-radius: 100px;
                color: var(--color-header);
                background-color: var(--color-sub2);
            }
        }
        p{
            color: var(--color-gray);
        }
        padding: 1rem;
    }
    ul{
        margin: 1rem 0;
        @include flex-layout();
        flex-wrap: wrap;
        gap: 2rem;
        li{
            cursor: pointer;
            transition: 0.5s;
            img{
                transform: 0.5s;
                border-radius: 50%;
            }
            &:hover{
                transform: translateY(-10px);
                img{
                    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}
#product{
    width: 80%;
    max-width: 1024px;
    margin: 5rem auto;
    text-align: center;
    font-size: 12px;
    @include desktop{
        font-size: 18px;
    }
    p{
        margin: 1rem 0;
        color: var(--color-gray);
    }
    .product-grid{
        margin: 5rem 0;
        text-align: center;
        display: grid;
        gap: 1.5rem;
        //모바일
        grid-template-columns: repeat(2,1fr);
        @include desktop{
            grid-template-columns: repeat(4,1fr);
        }
    }
}