@use "../assets/scss/mixins" as *;
.category-page{
    width: 90%;
    height: 100vh;
    margin: 3rem auto;
    h2,p{
        text-align: center
    }
    .product-list{
        margin: 2rem;
        @include flex-layout(row,center,flex-start);
        flex-wrap: wrap;
    }
} 