@use "../../assets/scss/mixins" as *;
nav{
    @include flex-layout(row,center);
    position: relative;
    div.mobile{
        @include flex-layout(column,center);
        cursor: pointer;
        color: var(--color-dark);
        @include desktop{
            display: none;
        }
        
        button{
            background: none;
            border: none;
            font-size: 2rem;
            line-height: 0;
            transition: 0.3s;
            &:hover{
                color: var(--color-sub1);
            }
            span{
                font-size: 1.3rem;
            }
        }
    }
    div.menu-wrap{
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 10%;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        z-index: 9999;
        &.on{
            width: 300px;
            opacity: 1;
            overflow: visible;
            max-height: auto;
        }
        @include desktop{
            @include flex-layout(row,space-between);
            display: flex !important; //무조건 실행
            overflow: visible;
            height: auto;
            opacity: 1;
            top: 1.5rem;
    }
    }
    ul{
        backdrop-filter: blur(3px);
        box-shadow: 1px 2px 2px #7083d4;
        padding: 1rem;
        background-color: rgba(130, 134, 237, 0.4);
        backdrop-filter: blur(3px);
        box-shadow: 1px 2px 2px #7083d4;
        color: var(--color-primary);
        li{padding: 0.5rem 0;}
        @include desktop{
            background: none;
            box-shadow: none;
            backdrop-filter: none;
            @include flex-layout();
        }
    }
    ul.menu-top{
        font-size: 1.1rem;
        border-radius: 1rem 1rem 0 0;
        li{
            color: var(--color-dark);
            padding: 1rem;
            border-radius: 1rem;
            transition: background-color 0.3s ease, 
            color 0.3s ease, 
            transeform 0.3s ease-in-out;
            cursor: pointer;
        &:hover{ 
        background-color: rgba(130, 134, 237, 0.2);
        backdrop-filter: blur(3px);
        box-shadow: 1px 2px 2px #7083d4;
        color: var(--color-primary);
        
    }
        } 
    }
    ul.menu-bottom{
        color: var(--color-dark);
        border-radius: 0 0 1rem 1rem;
        li{
            cursor: pointer;
            color: var(--color-dark);
            padding: 1rem;
            border-radius: 1rem;
            transition: background-color 0.3s ease, 
            color 0.3s ease, 
            transeform 0.3s ease-in-out;
            &:hover{
                background-color: rgba(130, 134, 237, 0.2);
                backdrop-filter: blur(3px);
                box-shadow: 1px 2px 2px #7083d4;
                color: var(--color-primary);
                cursor: pointer;
            }
        }
        @include desktop{
            border-bottom: none;
        }
    }
}